<script type="text/javascript">
    $(function() {
        initPhotoDroppers({
            mode: 'edit',
            photo: <%= raw @couple.avatar(:original).to_json %>,
            sourceX: <%= @couple.photo.source_x %>,
            sourceY: <%= @couple.photo.source_y %>,
            scaleFactor: <%= @couple.photo.scale_factor %>
        });
    });
</script>

<section class="bck theme landing text center padding">
  <%= form_tag(couple_path(@couple), method: 'put') do %>
    <div class="row">
      <div class="column_10 offset_1">
        <h1 class="text bold">Settings</h1>

        <h2 class="padding">
          Here you can change your settings
        </h2>

        <% if @couple.errors.present? %>
          <% @couple.errors.messages.each do |message| %>
            <div class="row error">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="column_4">
        <div class="photo-dropper-wrapper">
          <div class="his photo-dropper">
            <% if @couple.his.photo.present? %>
              <img src="<%= @couple.his.avatar %>" />
            <% else %>
                <span>Drop his photo here</span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column_4">
        <div class="photo-dropper-wrapper">
          <div class="their photo-dropper">
            <% if @couple.photo.present? %>
              <img src="<%= @couple.avatar %>" />
            <% else %>
                <span>Drop your both photo</span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column_4">
        <div class="photo-dropper-wrapper">
          <div class="her photo-dropper">
            <% if @couple.her.photo.present? %>
              <img src="<%= @couple.her.avatar %>" />
            <% else %>
              <span>Drop her photo here</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column_6">
        <input type="text" name="his[name]" placeholder="Name" autofocus="true" value="<%= @couple.his.name %>" />
        <input type="email" name="his[email]" placeholder="E-mail" autofocus="true" value="<%= @couple.his.email %>" />
        <input type="password" name="his[password]" placeholder="Password" autocomplete="off" />
        <input type="password" name="his[password_confirmation]" placeholder="Password, once again" autocomplete="off" />
      </div>

      <div class="column_6">
        <input type="text" name="her[name]" placeholder="Name" autofocus="true" value="<%= @couple.her.name %>" />
        <input type="email" name="her[email]" placeholder="E-mail" autofocus="true" value="<%= @couple.her.email %>" />
        <input type="password" name="her[password]" placeholder="Password" />
        <input type="password" name="her[password_confirmation]" placeholder="Password, once again" />
      </div>
    </div>

    <div class="row padding">
      <div class="column_8 text-right photo-editor">
        <canvas class="portrait-editor" width="350" height="350"></canvas>
        <input name="their[source_x]" id="their_source_x" type="hidden" />
        <input name="their[source_y]" id="their_source_y" type="hidden" />
        <input name="their[scale_factor]" id="their_scale_factor" type="hidden" />
      </div>

      <div class="column_4 text-left">
        <div id="scale-slider"></div>
      </div>
    </div>

    <div class="row padding">
      <div class="column_12 text center">
        <button type="submit" class="button">Save!</button>
      </div>
    </div>
  <% end %>
</section>
