<script type="text/javascript">
    $(function() {
        initPhotoDroppers({
            mode: 'create'
        });
    });
</script>

<section class="bck theme landing text center padding">
  <%= form_tag(couple_registration_path(@couple), method: 'post') do %>
    <div class="row">
      <div class="column_10 offset_1">
        <h1 class="text bold">Sign up</h1>

        <h2 class="padding">
          Here you should register with your half
        </h2>

        <% if @couple.errors.present? %>
          <% @couple.errors.messages.each do |message| %>
            <div class="row error">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="column_4">
        <div class="photo-dropper-wrapper">
          <div class="his photo-dropper">
            <span>Drop his photo here</span>
          </div>
        </div>
      </div>

      <div class="column_4">
        <div class="photo-dropper-wrapper">
          <div class="their photo-dropper">
            <span>Drop your both photo</span>
          </div>
        </div>
      </div>

      <div class="column_4">
        <div class="photo-dropper-wrapper">
          <div class="her photo-dropper">
            <span>Drop her photo here</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column_6">
        <input type="text" name="his[name]" placeholder="Name" autofocus="true" />
        <input type="email" name="his[email]" placeholder="E-mail" autofocus="true" />
        <input type="password" name="his[password]" placeholder="Password" autocomplete="off" />
        <input type="password" name="his[password_confirmation]" placeholder="Password, once again" autocomplete="off" />
      </div>

      <div class="column_6">
        <input type="text" name="her[name]" placeholder="Name" autofocus="true" />
        <input type="email" name="her[email]" placeholder="E-mail" autofocus="true" />
        <input type="password" name="her[password]" placeholder="Password" />
        <input type="password" name="her[password_confirmation]" placeholder="Password, once again" />
      </div>
    </div>

    <div class="row padding">
      <div class="column_8 text-right photo-editor">
        <canvas class="portrait-editor" width="350" height="350"></canvas>
        <input name="their[source_x]" id="their_source_x" type="hidden" />
        <input name="their[source_y]" id="their_source_y" type="hidden" />
        <input name="their[scale_factor]" id="their_scale_factor" type="hidden" />
      </div>

      <div class="column_4 text-left">
        <div id="scale-slider"></div>
      </div>
    </div>

    <div class="row padding">
      <div class="column_12 text center">
        <button type="submit" class="button">Sign up!</button>
      </div>
    </div>
  <% end %>
</section>
