<script type="text/javascript">
  window.tracks = <%= raw @tracks.to_json %>;

  window.onload = function() {
      initMap();

      setupPortrait({
          photo: <%= raw @couple.avatar(:original).to_json %>,
          sourceX: <%= @couple.photo.source_x %>,
          sourceY: <%= @couple.photo.source_y %>,
          scaleFactor: <%= @couple.photo.scale_factor %>
      });

      showTracks();

      [].forEach.call(document.querySelectorAll('.list-group-item'), function(elt, idx) {
          elt.addEventListener('mousemove', function() {
              centerTrack(idx);
          });
      });
  };
</script>

<div class="bck middle text center couple-header">
  <div class="row">
    <div class="column_12 text-center">
      <h1>Hello!</h1>
    </div>
  </div>

  <div class="row">
    <div class="span-12 text-center">
      <canvas class="portrait-together" width="350" height="350"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="column_12 text-center">
      <h2>We are <%= @couple.she.name %> and <%= @couple.he.name %></h2>
    </div>
  </div>

  <div class="row">
    <div class="column_12 text-center">
      <h1>And we are travelling!</h1>
    </div>
  </div>
</div>

<div class="bck theme">
  <% if @couple.stories.size > 0 %>
      <div class="row text-center">
        <div class="column_12">
          <h1>And here are some of our stories:</h1>
        </div>
      </div>

      <div class="row">
        <div class="column_12 text-center">
          <div id="map"></div>
        </div>
      </div>

      <div class="row">
        <div class="column_12">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="column_8 offset_2 story-list">
          <div class="list-group">
            <% @couple.stories.each do |story| %>
              <div class="list-group-item">
                <p class="pull-left">
                  <img class="avatar-small" src="<%= story.author.avatar || image_path(story.author.is_he? ? 'male.png' : 'female.png') %>" alt="...">
                </p>

                <h4 class="list-group-item-heading"><a href="<%= url_for story %>"><%= story.title %></a></h4>

                <% if user_signed_in? and story.couple == current_user.couple %>
                    <div class="story-actions">
                      <a href="<%= story_path(story) %>" class="button tiny warning" data-method="delete">Delete</a>
                      <a href="<%= edit_story_path(story) %>" class="button tiny">Edit</a>
                    </div>
                <% end %>

                <p class="list-group-item-text">
                  <%= raw story.short_body %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  <% else %>
      <div class="row text-center">
        <div class="column_12">
          <h1>But currently we can't tell you anything</h1>
        </div>
      </div>
  <% end %>
</div>