<section class="bck theme landing text center padding">
  <div class="row">
    <div class="column_10 offset_1">
      <h1 class="text bold">Welcome aboard!</h1>

      <h2 class="padding">
        This site is made for those who is in love and like to travel with his/her behalf.
      </h2>

      <h2>
        Interested?
      </h2>

      <div class="padding">
        <a class="button" href="<%= url_for :new_couple_registration %>">Sign up!</a>
      </div>
    </div>
  </div>
</section>

<section class="bck dark padding text center">
  <div class="row padding-bottom">
    <div class="column_10 offset_1">
      <h1 class="text book color theme">Here you can</h1>
    </div>
    <div class="row padding-top">
      <div class="column_4">
        <h2 class="icon pencil"></h2>
        <h5 class="text normal">Write your adventures' story</h5>
      </div>

      <div class="column_4">
        <h2 class="icon picture"></h2>
        <h5 class="text normal">Show your photos</h5>
      </div>

      <div class="column_4">
        <h2 class="icon twitter"></h2>
        <h5 class="text normal">Share with friends</h5>
      </div>
    </div>
  </div>
</section>