<script type="text/javascript">
    window.tracks = <%= raw @story.present_tracks.to_json %>;

    document.addEventListener('DOMContentLoaded', function() {
        initMap();
        initMapEditor();
        initWysiwyg();
    });
</script>

<%= form_for @story do |f| %>
    <div class="row padding">
      <div class="column_8">
        <%= f.text_field :title, { placeholder: "Story title" } %>
        <!--<input type="text" name="story[title]" placeholder="Story title" value="" />-->
        <!--<textarea name="story[body]" rows="5" placeholder="Story text"></textarea>-->

        <div class="post-editor-wrapper">
          <div class="editor-wrapper">
            <div class="toolbar">
              <div class="panel">
                <a href="#" data-command="bold" class="button"><i class="fa fa-bold"></i></a>
                <a href="#" data-command="italic" class="button"><i class="fa fa-italic"></i></a>
                <a href="#" data-command="underline" class="button"><i class="fa fa-underline"></i></a>
                <a href="#" data-command="strikeThrough" class="button"><i class="fa fa-strikethrough"></i></a>
              </div>

              <div class="panel">
                <a href="#" data-command="justifyLeft" class="button"><i class="fa fa-align-left"></i></a>
                <a href="#" data-command="justifyCenter" class="button"><i class="fa fa-align-center"></i></a>
                <a href="#" data-command="justifyRight" class="button"><i class="fa fa-align-right"></i></a>
              </div>

              <div class="panel">
                <a href="#" data-command="insertUnorderedList" class="button"><i class="fa fa-list"></i></a>
                <a href="#" data-command="insertOrderedList" class="button"><i class="fa fa-list-ol"></i></a>
              </div>

              <div class="panel">
                <a href="#" data-command="indent" class="button"><i class="fa fa-indent"></i></a>
                <a href="#" data-command="outdent" class="button"><i class="fa fa-outdent"></i></a>
                <a href="#" data-command="createLink" class="button"><i class="fa fa-link"></i></a>
                <a href="#" data-command="createMarker" class="button"><i class="fa fa-map-marker"></i></a>
                <a href="#" data-command="insertHorizontalRule" class="button"><i class="fa fa-cut"></i></a>
              </div>
            </div>

            <div class="editor" contentEditable="true"></div>
            <%= f.text_area :body, { :escape => false, 'data-wysiwyg' => true } %>
          </div>

          <div class="imagebox-wrapper">
            <div class="image-container dropper">
                <span>drop image here</span>
            </div>

            <% if session[:photos].present? %>
                <% session[:photos].each do |photo_id| %>
                    <% photo = Photo.find(photo_id) %>

                    <div class="image-container">
                        <span>
                            <img src="<%= photo.image.url(:medium) %>" alt="cat image" />
                        </span>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row padding">
      <div class="column12 text center">
        <button type="submit">Create</button>
      </div>
    </div>
<% end %>