<script type="text/javascript">
  var tracks = <%= raw @tracks.to_json %>;

  window.onload = function() {
      initMap();
      showTracks();
  };
</script>

<div class="row padding">
  <div class="column10">
    <div id="map"></div>
  </div>
</div>

<div class="row padding">
  <div class="column6">
    <h2><%= @story.title %></h2>

    <% if user_signed_in? and @story.couple == current_user.couple %>
        <div class="pull-right">
          <a href="<%= story_path(@story) %>" class="button tiny warning" data-method="delete">Delete</a>
          <a href="<%= edit_story_path(@story) %>" class="button tiny">Edit</a>
        </div>
    <% end %>

    <%= raw @story.body %>
  </div>
</div>