<section class="bck theme padding text center">
  <div class="row padding">
    <h2>Log in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <%= f.email_field :email, autofocus: true, placeholder: 'E-mail' %>
    </div>

    <div class="row">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
    </div>

    <div class="row padding">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end -%>
    </div>

    <div class="row padding">
      <button class="button" type="submit">Log in</button>
    </div>
  <% end %>
</section>