$button_color: #51746A;
$button_light_color: #1B9663;
$button_dark_color: #649E3A;
$theme_color: #CDFC43;
$theme_light_color: #FFED75;
$theme_green_color: #ddff76;
$theme_middle_color: #FDC355;
$theme_dark_color: #51746A;
$text_dark_color: #0E494F;
$text_light_color: #FDFCBC;
$theme_her_color: #FFBBC8;
$theme_his_color: #259EAE;
$theme_neutral_color: #E0EDF3;
$error_color: #D5541B;