.map-editor-control {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black !important;
    border-radius: 4px;
    font-family: FontAwesome;
}

.map-editor-control.toggled {
    background-color: #bbb;
}

.map-editor-control:hover {
    background-color: #f4f4f4;
}

.leaflet-popup-close-button {
    top: 0;
    position: absolute;
    right: 7px;
}

.leaflet-popup-content-wrapper {
  box-shadow: none;
  padding: 1px 5px;
  min-width: 250px;
  min-height: 250px;
}

.leaflet-popup-tip {
  box-shadow: none;
}

.leaflet-popup-content {
  .editor, .button {
    margin-top: 10px;
  }

  .editor {
    border: 1px solid #ccc;
    height: 155px;
    padding: 0 5px;
    font-size: 15px;
    color: #000;
    font-weight: 300;
    max-height: 155px;
    overflow: scroll;
  }
}