@import url("http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400");
@import "tuktuk.theme.colors";

.container .couple-header {
  padding: 40px 0;
}

.row input[type=checkbox] {
  width: 1.45em !important;
}

.editor-wrapper .toolbar {
  width: 812px;
  height: 35px;
  background-color: #ddd;
  margin-bottom: 0;
  border-bottom: 1px solid #6e6e6e;
  font-family: FontAwesome;
}

.editor-wrapper .toolbar .panel {
  border-right: 1px solid #6e6e6e;
  display: inline-block;
  height: 25px;
  margin: 4px 0;
  padding-right: 7px;
  padding-left: 5px;
}

.editor-wrapper .toolbar .panel .button {
  display: inline-block;
  height: 20px;
  width: 20px;
  color: #39438B !important;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
  line-height: 12px;
  background-color: #999;
}

.editor-wrapper .editor {
  width: 100%;
  border: 1px solid #888;
  margin: 0;
  padding: 5px;
  outline: none;
  resize: none;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  background: #F5FAC8;
  min-height: 364px;
}

.imagebox-wrapper {
  margin: 0;
  width: 150px;
  height: 400px;
  float: left;
  border: 1px solid #888;
  text-align: center;
  padding: 10px 15px 0 10px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #DDDDDD;
}

.imagebox-wrapper .image-container {
  border: 1px solid #888;
  text-align: center;
  max-width: 140px;
  max-height: 140px;
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 0 10px 0;
  line-height: 140px;
  background: #F5FAC8;
  cursor: move;
}

input {
  width: 99% !important;
}

b {
  font-weight: bold !important;
}

.editor {
  ul, ol {
    margin-left: 20px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

body {
    color: $button_color;
    background: $theme_light_color;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
}

body a {
    color: $button_color;
}

body a:not(.button):hover, body a:not(.button):active {
    color: $theme_color
}

body .bck.light {
    background-color: $theme_neutral_color !important;
    color: $text_dark_color;
}

body .bck.his {
    background-color: $theme_his_color !important;
    color: $text_light_color !important;
}

body .bck.her {
    background-color: $theme_her_color !important;
    color: $text_dark_color !important;
}

body .bck.dark {
    background-color: $button_color !important
}

body .bck.theme {
    background-color: $theme_light_color !important
}

body .bck.green {
  background-color: $theme_green_color !important
}

body .bck.middle {
  background-color: $theme_middle_color !important
}

body .bck.theme, body .bck.dark {
    color: $text_dark_color;
}

body .bck.theme a, body .bck.dark a {
    color: $text_dark_color;
}

body a:not(.button):hover, body .bck.dark a:not(.button):hover, body .bck.theme a:not(.button):active, body .bck.dark a:not(.button):active {
    color: $text_dark_color
}

body .error {
  color: $error_color;
}

body .text.shadow {
    -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

body .color.white {
    color: $text_dark_color !important
}

body .color:not(.bck).theme {
    color: $theme_color !important
}

body .color.default {
    color: $button_color !important
}

body strong {
    font-weight: 700 !important
}

[data-tuktuk=boxes] aside {
    color: #434343;
}

[data-tuktuk=boxes] aside.absolute {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms
}

[data-tuktuk=boxes] aside [data-menu] > a:not(.button) {
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
}

[data-tuktuk=boxes] aside [data-menu] > a:not(.button).active {
    background: #FDC355;
    color: $text_dark_color
}

body .no-hover:hover {
  color: $text_dark_color !important;
}

.button, button {
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
}

.button:not(.transparent):not(:disabled), button:not(.transparent):not(:disabled) {
    color: $text_dark_color !important;
    background-color: #1B9663;
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1);
}

.button:not(.transparent):not(:disabled):hover, button:not(.transparent):not(:disabled):hover {
    -webkit-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.15)
}

.button:not(.transparent):not(:disabled):active, button:not(.transparent):not(:disabled):active {
    -webkit-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2)
}

.button:not(.transparent):not(:disabled).theme, button:not(.transparent):not(:disabled).theme {
    background-color: #FDC355;
}

.button:not(.transparent):not(:disabled).success, button:not(.transparent):not(:disabled).success {
    background-color: #2ecc71
}

.button:not(.transparent):not(:disabled).alert, button:not(.transparent):not(:disabled).alert {
    background-color: #e74c3c
}

.button.transparent, button.transparent {
    background: none !important
}

.button[disabled=disabled], button[disabled=disabled], .button:disabled, button:disabled {
    background-color: $button_color;
    color: #bbb !important;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
    cursor: cursor
}

.button .icon, button .icon {
    opacity: .5
}

form input[type="text"], .form input[type="text"], form input[type="password"], .form input[type="password"], form input[type="date"], .form input[type="date"], form input[type="datetime"], .form input[type="datetime"], form input[type="email"], .form input[type="email"], form input[type="number"], .form input[type="number"], form input[type="search"], .form input[type="search"], form input[type="tel"], .form input[type="tel"], form input[type="time"], .form input[type="time"], form input[type="url"], .form input[type="url"], form select, .form select, form textarea, .form textarea {
    background-color: $text_dark_color;
    color: $button_color;
    border: 1px solid #bdc3c7;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    -ms-transition: border-color 300ms;
    -o-transition: border-color 300ms;
    transition: border-color 300ms;
    background-color: #e5e7e9;
}

form input[type="text"].error, .form input[type="text"].error, form input[type="password"].error, .form input[type="password"].error, form input[type="date"].error, .form input[type="date"].error, form input[type="datetime"].error, .form input[type="datetime"].error, form input[type="email"].error, .form input[type="email"].error, form input[type="number"].error, .form input[type="number"].error, form input[type="search"].error, .form input[type="search"].error, form input[type="tel"].error, .form input[type="tel"].error, form input[type="time"].error, .form input[type="time"].error, form input[type="url"].error, .form input[type="url"].error, form select.error, .form select.error, form textarea.error, .form textarea.error, form input[type="text"]:required, .form input[type="text"]:required, form input[type="password"]:required, .form input[type="password"]:required, form input[type="date"]:required, .form input[type="date"]:required, form input[type="datetime"]:required, .form input[type="datetime"]:required, form input[type="email"]:required, .form input[type="email"]:required, form input[type="number"]:required, .form input[type="number"]:required, form input[type="search"]:required, .form input[type="search"]:required, form input[type="tel"]:required, .form input[type="tel"]:required, form input[type="time"]:required, .form input[type="time"]:required, form input[type="url"]:required, .form input[type="url"]:required, form select:required, .form select:required, form textarea:required, .form textarea:required {
    border-color: #ed796d !important;
    color: #e74c3c;
    background-color: #fdedeb;
}

form input[type="text"].error:focus, .form input[type="text"].error:focus, form input[type="password"].error:focus, .form input[type="password"].error:focus, form input[type="date"].error:focus, .form input[type="date"].error:focus, form input[type="datetime"].error:focus, .form input[type="datetime"].error:focus, form input[type="email"].error:focus, .form input[type="email"].error:focus, form input[type="number"].error:focus, .form input[type="number"].error:focus, form input[type="search"].error:focus, .form input[type="search"].error:focus, form input[type="tel"].error:focus, .form input[type="tel"].error:focus, form input[type="time"].error:focus, .form input[type="time"].error:focus, form input[type="url"].error:focus, .form input[type="url"].error:focus, form select.error:focus, .form select.error:focus, form textarea.error:focus, .form textarea.error:focus, form input[type="text"]:required:focus, .form input[type="text"]:required:focus, form input[type="password"]:required:focus, .form input[type="password"]:required:focus, form input[type="date"]:required:focus, .form input[type="date"]:required:focus, form input[type="datetime"]:required:focus, .form input[type="datetime"]:required:focus, form input[type="email"]:required:focus, .form input[type="email"]:required:focus, form input[type="number"]:required:focus, .form input[type="number"]:required:focus, form input[type="search"]:required:focus, .form input[type="search"]:required:focus, form input[type="tel"]:required:focus, .form input[type="tel"]:required:focus, form input[type="time"]:required:focus, .form input[type="time"]:required:focus, form input[type="url"]:required:focus, .form input[type="url"]:required:focus, form select:required:focus, .form select:required:focus, form textarea:required:focus, .form textarea:required:focus {
    border-color: #e74c3c !important;
    background-color: #fef6f5
}

form input[type="text"]:focus, .form input[type="text"]:focus, form input[type="password"]:focus, .form input[type="password"]:focus, form input[type="date"]:focus, .form input[type="date"]:focus, form input[type="datetime"]:focus, .form input[type="datetime"]:focus, form input[type="email"]:focus, .form input[type="email"]:focus, form input[type="number"]:focus, .form input[type="number"]:focus, form input[type="search"]:focus, .form input[type="search"]:focus, form input[type="tel"]:focus, .form input[type="tel"]:focus, form input[type="time"]:focus, .form input[type="time"]:focus, form input[type="url"]:focus, .form input[type="url"]:focus, form select:focus, .form select:focus, form textarea:focus, .form textarea:focus {
    border-color: #89939a;
    background-color: #eff0f1
}

form .select:after, .form .select:after {
    color: #bdc3c7
}

form input[type="checkbox"], .form input[type="checkbox"], form input[type="radio"], .form input[type="radio"] {
    background: #fff;
    border: .15em solid #bdc3c7;
}

form input[type="checkbox"]:checked, .form input[type="checkbox"]:checked, form input[type="radio"]:checked, .form input[type="radio"]:checked {
    border-color: $theme_color;
}

form input[type="checkbox"]:checked:after, .form input[type="checkbox"]:checked:after, form input[type="radio"]:checked:after, .form input[type="radio"]:checked:after {
    color: $theme_color
}

form label, .form label {
    font-weight: bold
}

form [data-control="checkbox"], .form [data-control="checkbox"] {
    background: #a6a6a6;
    color: #d2d2d2;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
}

form [data-control="checkbox"], .form [data-control="checkbox"], form [data-control="checkbox"] label, .form [data-control="checkbox"] label {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

form [data-control="checkbox"] label, .form [data-control="checkbox"] label {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    background: #6f6f6f
}

form [data-control="checkbox"].checked, .form [data-control="checkbox"].checked {
    background-color: $theme_color;
    color: $text_dark_color !important;
}

form [data-control="checkbox"].checked label, .form [data-control="checkbox"].checked label {
    background-color: #38950e
}

ul {
    list-style: disc;
}

ul.square li, ul.circle li {
    margin: 0 0 .3em .6em
}

ul:not(.none) li {
    padding: 0;
    background: none
}

ul.empty {
    list-style: none outside;
    margin: 0
}

ul.square, ul.square ul {
    list-style: square outside
}

ul.circle, ul.circle ul {
    list-style: circle outside
}

ol {
    margin: 0 0 .3em .6em;
    list-style: decimal;
}

ol li {
    padding: 0
}

ul ul, ol ul, ul ol, ol ol {
    margin: .5em;
}

ul ul li, ol ul li, ul ol li, ol ol li {
    margin: 0 0 .3em 0
}

[data-tuktuk="modal"] {
    background: #fff;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}

[data-tuktuk="modal"] header {
    background: $theme_color !important;
    color: $text_dark_color
}

[data-tuktuk="lock"] {
    opacity: 0;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}

[data-tuktuk="lock"].active {
    opacity: 1;
}

[data-tuktuk="lock"].active:not([data-active=true]) {
    background-color: rgba(0, 0, 0, 0.8)
}

[data-tuktuk="lock"].active[data-loading=true] {
    background-color: rgba(0, 0, 0, 0);
}

[data-tuktuk="lock"].active[data-loading=true] > .loading {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
}

[data-tuktuk="lock"].active[data-loading=true] > .loading::before, [data-tuktuk="lock"].active[data-loading=true] > .loading::after {
    background: #fff;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em
}

nav[data-tuktuk=menu] > a {
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem;
}

nav[data-tuktuk=menu] > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: $button_color
}

nav[data-tuktuk=menu] > a.active {
    background-color: rgba(0, 0, 0, 0.1)
}

nav[data-tuktuk=menu] > a:hover .icon, nav[data-tuktuk=menu] > a.active .icon {
    color: $theme_color
}

nav[data-tuktuk=menu] > a:not(.active):not(:hover) > .icon, nav[data-tuktuk=menu] > a small {
    opacity: .75;
    font-weight: 400
}

.bck.theme nav[data-tuktuk=menu] > a.active .icon, .bck.theme nav[data-tuktuk=menu] > a:hover .icon {
    color: $button_color
}

table {
    background: #fff;
    color: $button_color;
    border: .1em solid #c8c8c8;
}

table tr:nth-child(even) td {
    background-color: #f4f4f4
}

table th {
    background-color: #c8c8c8;
    color: $text_dark_color
}

table td.highlight {
    background-color: $theme_color !important;
    color: $text_dark_color
}

[data-tip]:before, [data-tip]:after {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms
}

[data-tip]:before {
    background: transparent;
    border: .5em solid transparent
}

[data-tip]:after {
    background: rgba(0, 0, 0, 0.75);
    color: $text_dark_color;
    -webkit-text-shadow: 0 -.15em 0 #000;
    -moz-text-shadow: 0 -.15em 0 #000;
    -ms-text-shadow: 0 -.15em 0 #000;
    -o-text-shadow: 0 -.15em 0 #000;
    text-shadow: 0 -.15em 0 #000;
    font-weight: bold;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25)
}

[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):before {
    border-bottom-color: rgba(0, 0, 0, 0.75)
}

[data-tip].tip-top:before {
    border-top-color: rgba(0, 0, 0, 0.75)
}

[data-tip].tip-left:before {
    border-left-color: rgba(0, 0, 0, 0.75)
}

[data-tip].tip-right:before {
    border-right-color: rgba(0, 0, 0, 0.75)
}

div.img {
    background: #ddd;
    height: 64px;
}

div.img.h128 {
    height: 128px
}

div.img.h256 {
    height: 256px
}

div.img.h512 {
    height: 512px
}

:not(.icon).tag {
    position: relative;
    top: -2px;
    padding: 1px 3px;
    font-weight: bold !important;
    font-size: 9px !important;
    text-transform: uppercase;
    color: $text_dark_color !important;
    border: solid 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

hr {
    margin: 15px 0;
    background: #ddd;
    background-color: rgba(0, 0, 0, 0.1)
}

.radius {
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    border-radius: .2rem
}