/* latin-ext */
@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url(http://fonts.gstatic.com/s/bowlbyonesc/v8/8ZkeXftTuzKBtmxOYXoRecwijeDcG-JweunOH6aTiNc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url(http://fonts.gstatic.com/s/bowlbyonesc/v8/8ZkeXftTuzKBtmxOYXoReUUEUdrrrR_ikmkKxiLHLpg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none !important;
}

.welcome-text {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  color: #FDB024;
  margin-top: 20px;
  background-color: #FFFDDB;

  h1 {
    font-size: 52px !important;
  }

  h2 {
    font-size: 30px !important;
  }
}

#map {
  height: 400px;
  overflow: hidden;
}

.column_10_5 {
    width: -webkit-calc(100% / 12 * 9.85);
    width: -moz-calc(100% / 12 * 9.85);
    width: calc(100% / 12 * 9.85);
}

#story_title {
  width: 965px !important;
}

.her-photo, .his-photo {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  display: inline-block;
}

.avatar-small {
  max-width: 80px;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
  display: inline-block;
  margin-right: 15px;
}

.photo-dropper-wrapper {
  text-align: center;

  .photo-dropper {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #888;
    width: 150px;
    height: 150px;
    line-height: 150px;
    vertical-align: middle;
    color: #888;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 150px;
    max-height: 150px;

    img {
      max-width: 150px !important;
      max-height: 150px !important;
    }

    &.no-background-image {
      background-image: none !important;
    }

    &.his {
      background-image: image-url('male.png');
    }

    &.her {
      background-image: image-url('female.png');
    }

    &.their {
      background-image: image-url('couple.png');
    }
  }
}

.container > div:last-child {
  margin: 50px 0;
}

footer {
  // position: absolute;
  bottom: 0;
  display: block;
  width: -webkit-calc(100% - 32px);
  width: -moz-calc(100% - 32px);
  width: calc(100% - 32px);
}

header {
  margin-bottom: 50px;
}

.alerts-container {
  text-align: center;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;

  -moz-animation: hideAlert 1s ease-in-out 4s forwards;
  -webkit-animation: hideAlert 1s ease-in-out 4s forwards;
  -o-animation: hideAlert 1s ease-in-out 4s forwards;
  animation: hideAlert 1s ease-in-out 4s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  .alert {
    display: inline-block;
    height: 25px;
    text-align: center;
    min-width: 250px;
    background: #EAF5EE;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.alert-info {
      background-color: #269abc;
      color: #444;
    }

    &.alert-danger {
      background-color: #a94442;
      color: #444;
    }
  }
}

@keyframes hideAlert {
  to {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes hideAlert {
  to {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes hideAlert {
  to {
    opacity: 0;
    display: none;
  }
}

.story-list {
  .list-group-item {
    display: block;
    min-height: 100px;
    padding: 10px;

    &:hover {
      background-color: rgba(255, 193, 168, 0.5);
    }

    .story-actions {
      visibility: hidden;
      display: inline-block;
      float: right;

      .button {
        margin: 0 5px;
      }
    }

    &:hover .story-actions {
      visibility: visible;
    }
  }
}
