@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

*[draggable=true] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

.post-editor-wrapper [data-wysiwyg=true] {
    display: none;
}

.post-editor-wrapper {
    font-family: 'Open Sans', sans-serif !important;
    width: 1100px;
    position: relative;
}

.imagebox-wrapper {
    margin: 0;
    width: 150px;
    height: 150px;
    /* float: left; */
    border: 1px solid #888;
    text-align: center;
    padding: 10px 15px 0 10px;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 10px;
    top: 95px;
    z-index: 1000;
    -webkit-transition: height 0.25s; /* For Safari 3.1 to 6.0 */
    -moz-transition: height 0.25s; /* For Safari 3.1 to 6.0 */
    -o-transition: height 0.25s; /* For Safari 3.1 to 6.0 */
    transition: height 0.25s;
}

.imagebox-wrapper:hover {
    height: 500px;
}

.imagebox-wrapper .image-container {
    border: 1px solid #888;
    text-align: center;
    max-width: 140px;
    max-height: 140px;
    width: 140px;
    height: 140px;
    display: block;
    margin: 0 0 10px 0;
    line-height: 140px;
    cursor: move;
}

.imagebox-wrapper .image-container span img {
    max-width: 140px;
    max-height: 140px;
}

.imagebox-wrapper .image-container span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.editor-wrapper {
    top: 0;
    float: left;
    width: 971px;
    margin-right: 20px;
}

.editor-wrapper .toolbar {
    width: 983px;
    height: 35px;
    background-color: #ddd;
    margin-bottom: 0;
    border-bottom: 1px solid #6e6e6e;
    font-family: FontAwesome;
}

.editor-wrapper .toolbar .panel {
    border-right: 1px solid #6e6e6e;
    display: inline-block;
    height: 25px;
    margin: 5px 0;
}

.editor-wrapper .toolbar .panel:last-child {
    border-right: none;
}

.editor-wrapper .toolbar .button {
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #2aa;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}

.editor-wrapper .toolbar .button i {
    vertical-align: middle;
}

.editor-wrapper .toolbar .button:hover {
    background-color: #bbb;
}

.editor-wrapper .editor {
    width: 100%;
    border: 1px solid #888;
    margin: 0;
    padding: 5px;
    outline: none;
    resize: none;
    overflow: auto;
    font-family: 'Open Sans', sans-serif !important;
}

.image-container:nth-child(1) {
    cursor: pointer;
}

.image-container.dragged {
    border: 1px dashed #888;
}

.editor-wrapper .editor.dragover {
    opacity: 0.6;
}