<header class="bck light padding">
  <div class="row">
    <div class="column_6">
      <h2 class="text thin">
        <a href="/" class="no-hover">
          <% if user_signed_in? %>
            <%= current_user.couple_name %>
          <% else %>
            They Are Tripping
          <% end %>
        </a>
      </h2>
    </div>

    <% if user_signed_in? %>
      <nav class="column_6 text right bold">
        <a class="button bck theme" href="<%= edit_couple_path(current_user.couple) %>">Settings</a>
        <a class="button bck green" href="<%= new_story_path %>">Write</a>
        <a class="button" href="<%= url_for :destroy_user_session %>">Sign out</a>
      </nav>
    <% else %>
      <nav class="column_6 text right bold">
        <a class="button" href="<%= url_for :new_couple_registration %>">Sign up</a>
        <a class="button bck theme" href="<%= url_for :new_user_session %>">Log in</a>
      </nav>
    <% end %>
  </div>
</header>