<!DOCTYPE html>
<html>
  <head>
    <title>TheyreTrippin</title>

    <%= stylesheet_link_tag    'editor', media: 'all' %>
    <%= javascript_include_tag 'editor' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="alerts-container">
        <% if notice.present? %>
            <div class="alert alert-info"><%= notice %></div>
        <% end %>

        <% if alert.present? %>
            <div class="alert alert-danger"><%= alert %></div>
        <% end %>
      </div>

    <%= render partial: 'header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render partial: 'footer' %>
  </body>
</html>